{{> component_nav moreNavLinks=navLinks}}

<div class="content">
    {{#if credential}}
    <div class="card-columns">
        {{#each credential}}
        {{> credential_card credential=this}}
        {{/each}}
    </div>
    {{else}}
    {{> empty_list }}
    {{/if}}
</div>